@import "tailwindcss";

:root {
	--text: #14181a;
	--background: #ecf1f3;
	--primary: #32525d;
	--secondary: #86b9ca;
	--accent: #36809b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #e5e9eb;
		--background: #233137;
		--primary: #a2c2cd;
		--secondary: #356879;
		--accent: #64aec9;
	}
}

@theme inline {
	--color-text: var(--text);
	--color-background: var(--background);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--text);
	font-family: "Roboto", Helvetica, sans-serif;
}
